@import "tailwindcss";
/* @plugin "daisyui"; */

@layer utilities {
  [data-theme="myDarkTheme"] .shadow,
  [data-theme="myDarkTheme"] .shadow-sm,
  [data-theme="myDarkTheme"] .shadow-md,
  [data-theme="myDarkTheme"] .shadow-lg,
  [data-theme="myDarkTheme"] .shadow-xl,
  [data-theme="myDarkTheme"] .shadow-2xl {
    --tw-shadow-color: rgba(255, 255, 255, 0.1);
  }
}

@plugin "daisyui/theme" {
  name: "myLightTheme";
  default: false;
  prefersdark: false;
  color-scheme: "light";

  /* Cores Base (Preto/Branco com tons de cinza) */
  --color-base-100: #ffffff; /* Fundo principal branco puro */
  --color-base-200: #f5f5f5; /* Fundo secundário (um cinza muito claro) */
  --color-base-300: #e0e0e0; /* Bordas/divisórias (um cinza claro) */
  --color-base-content: #333333; /* Texto principal (quase preto) */
  --tw-shadow-color: #000;

  /* Cores de Branding */
  --color-primary: #294d7f; /* Azul principal */
  --color-primary-content: #ffffff; /* Texto branco sobre o azul primário */
  --color-secondary: #4974b1; /* Um azul ligeiramente mais escuro (complementar) */
  --color-secondary-content: #ffffff; /* Texto branco sobre o secundário */
  --color-accent: #df8a2a; /* Laranja de acento/contraste */
  --color-accent-content: #ffffff; /* Texto branco sobre o laranja (para legibilidade) */
  --color-neutral: #666666; /* Para elementos neutros como cards, barras */
  --color-neutral-content: #ffffff; /* Texto branco sobre o neutro */

  /* Cores de Status */
  --color-info: #3abff8;
  --color-info-content: #ffffff;
  --color-success: #36d399;
  --color-success-content: #ffffff;
  --color-warning: #fbbd23;
  --color-warning-content: #ffffff;
  --color-error: #f87272;
  --color-error-content: #ffffff;

  /* Medidas */
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "myDarkTheme";
  default: true;
  prefersdark: false;
  color-scheme: "dark";

  /* Cores Base (Preto/Branco com tons de cinza) */
  --color-base-100: #1a1a1a; /* Fundo principal preto quase puro */
  --color-base-200: #2e2e2e; /* Fundo secundário (um cinza escuro) */
  --color-base-300: #424242; /* Bordas/divisórias (um cinza mais escuro) */
  --color-base-content: #cccccc; /* Texto principal (cinza claro) */
  --tw-shadow-color: #ffffff;

  /*Cores de Branding (ajustadas para tema escuro) */
  --color-primary: #376fbe; /* Azul principal */
  --color-primary-content: #ffffff; /* Texto branco sobre o azul primário */
  --color-secondary: #355889; /* Um azul ligeiramente mais claro (complementar no tema escuro) */
  --color-secondary-content: #ffffff; /* Texto branco sobre o secundário */
  --color-accent: #df8a2a; /* Laranja de acento/contraste */
  --color-accent-content: #ffffff; /* Texto branco sobre o laranja */
  --color-neutral: #4d4d4d; /* Para elementos neutros no tema escuro */
  --color-neutral-content: #ffffff; /* Texto branco sobre o neutro */

  /* Cores de Status */
  --color-info: #60a5fa;
  --color-info-content: #ffffff;
  --color-success: #009135;
  --color-success-content: #ffffff;
  --color-warning: #a28618;
  --color-warning-content: #ffffff;
  --color-error: #a90000;
  --color-error-content: #ffffff;

  /* Medidas */
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

/* Desloca o scrollbar do SimpleBar para a direita */
.simplebar-scrollbar::before {
  background-color: var(--color-primary);
  transform: scaleX(1.3);
}
aside .simplebar-scrollbar::before {
  transform: scaleX(1);
}
/*  */

/* Cria a classe "text-base" para font-size: 16px; */
:root {
  --text-base: 1rem; /* 16px (padrão Tailwind) */
  --text-base--line-height: calc(1.5 / 1); /* 1.5 é o line-height padrão */
}
.text-base,
.text-md {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}
/*  */

/* Faz com que o validador não ocupe espaço enquanto estiver oculto */
.validator {
  &:user-invalid,
  &:has(:user-invalid),
  &[aria-invalid]:not([aria-invalid="false"]) {
    & ~ .validator-hint {
      height: unset;
    }
  }
}
.validator-hint {
  height: 0px;
}
/*  */

/* Tabela zebrada */
.table-zebra thead {
  background-color: var(--color-base-300);
}
[data-theme="myLightTheme"] .table-zebra tbody tr:nth-child(even) {
  background-color: var(--color-base-200);
}
[data-theme="myDarkTheme"] .table-zebra tbody tr:nth-child(even) {
  background-color: var(--color-base-200);
}
/*  */

div:focus,
img:focus,
path:focus,
svg:focus,
g:focus {
  outline: none !important;
}
